.landing_form {
  border: 2px solid #f9d71c;
  height: 250px;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20%;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  h1 {
    color: #f9d71c;
  }

  input {
    height: 30px;
    width: 250px;
    margin: 2%;
  }

  button {
    height: 25px;
    margin: 2%;
    width: 200px;
    border: 1px solid #f9d71c;
    background: black;
    color: #f9d71c;
  }

  .rank-menu {
    width: 40%;
  }
}