div {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  input {
    height: 30px;
    width: 250px;
    margin: 2%;
  }
  button {
    height: 20px;
    margin: 2%;
    width: 270px;
  }
}