.MovieCard {
  border: 1px solid #f9d71c;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
  width: 20%;
  border-radius: 5px;
  height: 40vh;
  justify-content: space-around;
  background-color: #1a1a1a;
}

.characters-button {
  width: 40%;
  margin: 1%;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: larger;
}

img {
  height: 240px;
  width: 200px;
}
